<section>
  <div class="container">
      <p class="display-4 theme-color ml-5 heading">Ratings</p>
    <div class="jumbotron jumbotron">
      <div class="container">
        <canvas baseChart
        [datasets]="ratingChartData"
        [labels]="ratingChartLabels"
        [options]="ratingChartOptions"
        [legend]="ratingChartLegend"
        [chartType]="ratingChartType" width="200" height="50">
        </canvas>
        <button mat-button mat-raised-button color="primary" (click)="randomizeRating()">Toggle</button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <p class="display-4 theme-color ml-5 heading">Deliveries</p>
  <div class="jumbotron jumbotron">
    <div class="container">
      <canvas baseChart
      [datasets]="deliveryChartData"
      [labels]="deliveryChartLabels"
      [options]="deliveryChartOptions"
      [legend]="deliveryChartLegend"
      [chartType]="deliveryChartType" width="200" height="50">
      </canvas>
      <button mat-button mat-raised-button color="primary" (click)="randomizeDelivery()">Toggle</button>
    </div>
  </div>
  </div>
</section>

